name: CI - Build & Publish

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'    

      - name: Restore dependencies
        run: dotnet restore ./SampleWebApp/SampleWebApp.csproj

      - name: Build Release
        run: dotnet build ./SampleWebApp/SampleWebApp.csproj -c Release --no-restore


      - name: Test
        run: dotnet test --no-build --verbosity normal

      - name: Publish
        run: dotnet publish ./SampleWebApp/SampleWebApp.csproj -c Release -o ./artifacts/SampleWebApp --no-build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: SampleWebApp-publish
          path: ./artifacts/SampleWebApp/**
          retention-days: 7